@{
    ViewData["Title"] = "Index";
}

<header class="text-center text-white masthead" style="background: url('https://th.bing.com/th/id/R.ab808d43ad4cf003a4583aa31cd537f7?rik=1YpOymM4chgjpQ&pid=ImgRaw&r=0') no-repeat center center; background-size: cover; height: 100%; width: 100%;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Join us and explore the finest deals in the real estate market!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="email" placeholder="Enter your email..."></div>
                        <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Sign up!</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<section class="text-center bg-light features-icons">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-screen-desktop m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                    <h3>Fully Automated</h3>
                    <p class="lead mb-0">Our Product Works on Any Platform for equal services to all!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-layers m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                    <h3>Complete Transparency</h3>
                    <p class="lead mb-0">Don't believe Us, See for yourself!!!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                    <h3>Verified</h3>
                    <p class="lead mb-0">Completely Verified and Trustable source</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url('https://i.pinimg.com/originals/05/dc/e7/05dce78311be85315616fa5c8c75ca07.jpg');"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>From Luxury to Minimalism</h2>
                <p class="lead mb-0">Discover the perfect balance between luxury and minimalism with our expertly curated properties. Whether you're seeking a contemporary high-rise with panoramic views or a cozy, understated space, we offer diverse options that suit all tastes. Experience sophisticated living that emphasizes clean lines, open spaces, and modern amenities, providing a seamless blend of comfort and style.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://images.unsplash.com/photo-1560185127-6ed189bf02f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Completely Customisable</h2>
                <p class="lead mb-0">Our real estate properties offer complete customization options, allowing you to design your ideal living space. From choosing interior finishes to modifying layouts, we provide the flexibility to tailor every aspect of the property to your unique taste and lifestyle. Whether it's a modern open-plan design or a cozy, traditional look, the possibilities are endless.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white order-lg-2 showcase-img" );"><img src="https://images.unsplash.com/photo-1507089947368-19c1da9775ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80" /></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Easy to Use &amp;&nbsp;Customize</h2>
                <p class="lead mb-0">Managing your property has never been easier. Our intuitive platform allows you to personalize every detail effortlessly, from property settings to management preferences. Whether you're a landlord or tenant, the system is designed to adapt to your needs, ensuring a seamless and user-friendly experience every step of the way. </p>
            </div>
        </div>
    </div>
</section>
<section class="text-center bg-light testimonials">
    <div class="container">
        <h2 class="mb-5">What Our Clients Are Saying</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <img class="rounded-circle img-fluid mb-3" src="/img/testimonials-1.jpg">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <img class="rounded-circle img-fluid mb-3" src="/img/testimonials-2.jpg">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"This is amazing. I've been using it to find lots of super nice building."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                    <img class="rounded-circle img-fluid mb-3" src="/img/testimonials-3.jpg">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center text-white call-to-action" style="background:url('/img/bg-masthead.jpg') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="email" placeholder="Enter your email..."></div>
                        <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Sign up!</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="bg-light footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left my-auto h-100">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0"></p>
            </div>
            <div class="col-lg-6 text-center text-lg-right my-auto h-100">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>